<input type="button" value="Show Android Toast from WebView" onClick="showAndroidToast('Hello Android!')" />
<br>
<a href="http://www.hitanshudhawan.com"><input type="button" value="Go to www.hitanshudhawan.com" /></a>

<script type="text/javascript">

    function showAndroidToast(toastMsg) {
        Hit.showToast(toastMsg);
    }

</script>